<template name="card">
  <div class="card {{color}}" name="{{name}}" data-id="{{id this}}">
    <div class="card-name">{{name}}</div>

    <div class="card-image-container">
      <img class="card-image" src="{{image}}">
    </div>

    <div class="card-tray">
      <div class="card-type">{{formatCardtype}}</div>

      <div class="card-cost-container">
        <div class="card-cost card-colorless-cost" data-hidden="{{zeroColorlessCost}}">{{cost.colorless}}</div>
        <div class="card-cost card-color-cost {{color}}" data-hidden="{{zeroColorCost}}">{{cost.color}}</div>
      </div>
    </div>

    <div class="card-description">
      {{formatDescription}}
    </div>

    <div class="card-combat" data-hidden="{{isNotEnvoy}}">
      {{formatCombat}}
    </div>
  </div>
</template>
