<template name="decks">
  <div id="decks" class="container">
    <a href="/decks/new" class="btn btn-default btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span> Create New</a>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Cards</th>
          <th>Colors</th>
        </tr>
      </thead>
      <tbody>
        {{#each decks}}
          <tr class="deck" name="{{name}}">
            <td name="name"><a href="/decks/{{encodeURIComponent name}}/">{{name}}</a></td>
            <td name="cards">{{cardCount this}}</td>
            <td name="colors">{{colors this}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
